{% extends 'index.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <nav id="menuJeu">
        <ul>
            <li id="home" class="bangers-regular nav-item"><img src="{{ asset('img/person.png')}}"/></li>
            <li id="communaction" class="bangers-regular nav-item"><img src="{{ asset('img/smartphone.png')}}"/></li>
            <li id="secret" class="bangers-regular nav-item"><img src="{{ asset('img/puzzle.png')}}"/></li>
            <li id="book" class="bangers-regular nav-item"><img src="{{ asset('img/book.png')}}"/></li>
        </ul>
    </nav>
    <div class="glitch-wrapper" id="gametitle">
        <div class="glitch bangers-regular" data-glitch="Tableau de bord">Tableau de bord</div>
    </div>
    <p>Salut {{ utilisateur.pseudo }}<p>
    <button id="btn-deconnexion" class="btn btn-danger">Déconnexion</button>
{% endblock %}
