{% extends 'index.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <nav id="menuJeu">
        <ul>
            <li id="home" class="bangers-regular nav-item"><img src="{{ asset('img/person.png')}}"/></li>
            <li id="communaction" class="bangers-regular nav-item"><img src="{{ asset('img/smartphone.png')}}"/></li>
            <li id="secret" class="bangers-regular nav-item"><img src="{{ asset('img/puzzle.png')}}"/></li>
            <li id="book" class="bangers-regular nav-item"><img src="{{ asset('img/book.png')}}"/></li>
        </ul>
    </nav>
    <div class="glitch-wrapper" id="gametitle">
        <div class="glitch bangers-regular" data-glitch="Tableau de bord">Tableau de bord</div>
    </div>
    <div class="container">
        <h1>Journal de {{ utilisateur.pseudo }}</h1>
        <h2>{{ scenario.refuge_oublie.title}}</h2>
        <p>{{ scenario.refuge_oublie.introduction }}</p>

        <div>
            <h3>Chapitre {{ scenario.refuge_oublie.chapitres[1].titre }}</h3>
            <p>{{ scenario.refuge_oublie.chapitres[1].etapes[1].description }}</p>
            <h4>Choix possibles : </h4>
            {% for choix in scenario.refuge_oublie.chapitres[1].etapes[1].choix %}
                <div>
                    <h4>{{ choix.id }}</h4>
                    <p>{{ choix.description }}</p>
                </div>
            {% endfor %}
        </div>

        <button id="btn-deconnexion" class="btn btn-danger">Déconnexion</button>
    </div>
{% endblock %}
