{% extends 'index.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <nav id="menuJeu">
        <ul>
            <li id="profil" class="bangers-regular nav-item"><img src="{{ asset('img/person.png') }}"/></li>
            <li id="book" class="bangers-regular nav-item"><img src="{{ asset('img/book.png') }}"/></li>
        </ul>
    </nav>

    <div class="glitch-wrapper" id="game-title">
        <span class="glitch bangers-regular" data-glitch="Survivant">Survivant</span>
    </div>

    <div class="container container-home">
        <div class="row" style="margin: 50px; background-color: #FFFFFF90; border-radius: 10px; padding: 20px; color: black; align-items: center;">
            <div class="col-3 d-flex flex-column align-items-center">
                <div class="card" style="width: 10rem; align-items: center;">
                    <img src="{{ asset('img/utilisateur2.png') }}" alt="avatar" id="avatar" class="card-img-top">
                    <h2 style="color:black;">{{ utilisateur.pseudo }}</h2>
                </div>
                <div style="margin: 20px; align-items: center;">
                    <button id="btn-deconnexion" class="btn btn-danger">Déconnexion</button>
                    <button id="btn-reset" class="btn" style="background-color:transparent;">Reset</button>
                </div>
            </div>
            <div class="col-8" style="background-color: #FFFFFF90; border-radius: 10px; padding: 20px; color: black;">
                <h2 id='affichage-jour'>Jour {{ utilisateur.niveau }} sur 15</h2>
                <p id="affichage-satiete">Satiété : {{ utilisateur.faim }}</p>
                <p id="affichage-soif">Soif : {{ utilisateur.soif }}</p>
                <p id="affichage-sante">Santé : {{ utilisateur.sante }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div data-id="manger" class="card action" style="width: 16rem; align-items: center; color:black; padding: 10px;">
                    <img src="{{ asset('img/pomme.png') }}" alt="pomme" id="pomme" class="card-img-top" style="width: 4rem;">
                    <h5>Chercher de la nourriture</h5>
                    <p>+20 satiété</p>
                </div>
            </div>
            <div class="col-3">
                <div data-id="boire" class="card action" style="width: 16rem; align-items: center; color:black; padding: 10px;">
                    <img src="{{ asset('img/eau.png') }}" alt="eau" id="eau" class="card-img-top" style="width: 4rem;">
                    <h5>Chercher de l'eau</h5>
                    <p>+20 soif</p>
                </div>
            </div>
            <div class="col-3">
                <div data-id="reposer" class="card action" style="width: 16rem; align-items: center; color:black; padding: 10px;">
                    <img src="{{ asset('img/sante.png') }}" alt="repos" id="repos" class="card-img-top" style="width: 4rem;">
                    <h5>Se reposer</h5>
                    <p>+20 santé</p>
                </div>
            </div>
            <div class="col-3">
                <div data-id="rechercher" class="card action" style="width: 16rem; align-items: center; color:black; padding: 10px;">
                    <img src="{{ asset('img/recherche.png') }}" alt="information" id="recherche" class="card-img-top" style="width: 4rem;">
                    <h5>Chercher des informations</h5>
                    <p>+1 indice</p>
                </div>
            </div>
        </div>
        <p class="row justify-content-center" style="margin-top: 30px;">Vous pouvez effectuer une action par jour.</p>
    </div>
{% endblock %}